/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* base styles */

/* layout 
.background-image {
  max-width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: -4px;
}*/

.logo-image {
  position: absolute;
  top: 1%;
  left: 5%;
}

li {
  list-style: none;
}

/* header section 

header {
  position: relative;
}*/

.header-img {
  background-image: url("images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 105vh;
}

h1 {
  color: white;
  font-family: "Fraunces", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* nav section 
.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}*/
.navbar {
position: absolute;
top: 8px;
right: 50px;
display: inline;
}
.navbar_menu {
  display: flex;
  
}

.nav_links {
  display: inline;
  font-family: "Barlow", sans-serif;
  padding-right: 20px;
}

/* MOBILE NAV SECTION */
@media screen and (max-width: 780px) {
  body.active {
      overflow-y: hidden;
      overflow-x: hidden;
  }
  .nav_links {
      display: flex;
      align-items: center;
      justify-content: center;
  }
 
  .navbar_menu {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 100px);
      position: absolute;
      width: 100%;
      top: -1000px;
  }

  .navbar_menu.active {
      top: 100%;
      opacity: 1;
      z-index: 99;
      height: 100vh;
      font-size: 1.5rem;
      background: var(--darkBlue);
  }

  .navbar_toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: black;
      display: block;
      cursor: pointer;
  }
  #mobile-menu {
      position: absolute;
      top: 15%;
      right: 5%;
      transform: translate(5%, 20%);
  }
  #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
}

/* first section */

.sec-1 {
  text-align: center;

}
.sec-1 img {
  
  max-width: 100%;
}

.paragraph-1 {
  margin: 30px 0;
  
}
.paragraph-1 p {
  margin: 20px 0;
  padding: 0 22%;
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
 }

/* second section */
.sec2-image {
  max-width: 100%;
}
.sec-2 {
  text-align: center;
}
.paragraph2 {
  margin: 30px 0;
}
.paragraph2 p {
  margin: 20px 0;
  padding: 0 20%;
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
}

/* Third section */
.graphic-design {
  background-image: url("images/mobile/image-graphic-design.jpg");
  position: relative;
  
  min-height: 65vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.skills {
  text-align: center;
  color: hsl(167, 40%, 24%);
  position: absolute;
  bottom: 8px;
  left: 5%;
  margin-bottom: 5%;
}

.skills h2 {
  padding-bottom: 2%;
}
.skills p {
  font-family: "Barlow", sans-serif;
}
.photography {
  background-image: url("images/mobile/image-photography.jpg");
  position: relative;
  
  min-height: 65vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.photography .skills p {
  color: hsl(198, 62%, 26%);
  
}

/* Fourth Section Client testimonials */
.client-reviews h3 {
  margin-top: 10%;
  color: hsl(210, 4%, 67%);
}
.client-reviews {
  text-align: center;
}

.client-photo {
  border-radius: 50%;
  margin-top: 10%;
}
.review {
  color: hsl(232, 10%, 55%);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0 12%;
  font-family: "Barlow", sans-serif;
}
.clients-job {
  margin-top: 2%;
  color: hsl(210, 4%, 67%);
}

/* section before footer */
.footer-grid {
  margin-top: 10%;
  font-size: 0;
}

.footer-grid-pics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-grid-pics img {
  width: 100%;
}
/* footer */

footer {
  background-color: hsl(167, 65%, 75%);
  height: 350px;
  text-align: center;
  max-width: 100%;
}
.sunnyside {
  color: hsl(168, 34%, 41%);
  font-family: "Barlow", sans-serif;
  font-size: 1.7em;
  padding: 5% 0;
}
footer li {
  padding: 0 8%;
}
footer a {
  color: hsl(168, 34%, 41%);
}

.socials {
  padding-top: 70px;
  }
.socials img {
    padding-right: 7%;
}
/* font */
a {
  color: white;
}
h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif;
}
p {
  line-height: 1.5em;
}

/* button/icons */

button {
  color: black;
  background-color: white;
  border: none;
  height: 30px;
  padding: 0 15px;
  border-radius: 20px;
  font-size: 13px;
}
.learn-more {
  color: black;
}

.learn-more:hover {
  text-decoration: underline yellow;;
}

/* large tablets and laptop styles*/
@media screen and (min-width: 751px) {
   

 .header-img {
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 150vh;
  }

  .sec-1 {
    display: flex;
    flex-direction: row-reverse;
   
  }
  .sec-1 img {
    max-width: 50%;
  }
  .paragraph-1 {
    padding-top: 10%;
    max-width: 50%;
  }
  .sec-2 {
    display: flex;
  }
  .sec2-image {
    max-width: 50%;
  }
  .paragraph2 {
    padding-top: 10%;
    
  }
  .clients {
    display: flex;
  }
  .footer-grid-pics {
      display: flex;
      max-width: 25%;
  } 
  .third-section {
     
     display: flex;
    
  }
  .graphic-design {
    background-image: url("images/desktop/image-graphic-design.jpg");
    max-width: 50%;
    background-size: cover;
    flex: 50%;
  }
   .photography {
    background-image: url("images/desktop/image-photography.jpg");
    max-width: 50%;
    background-size: cover;
    background-position: center center;
    flex: 50%
  }
  
}
